$neutral: #f1f1f1;
$neutral-opacity: rgba(241, 241, 241, 0.5);
$primary-darkblue: #025c74;
$primary-lightblue: #82d6d2;
$primary-gray: #7aa7af;
$primary-darkgray: #8db8c0;
$primary-black: #344949;
$primary-gold: #ffd700;
$error: #bf0000;

$primary-font: "Roboto", sans-serif;
$secundary-font: "Roboto Slab", serif;

$mp1: 2px;
$mp2: 4px;
$mp3: 8px;
$mp4: 12px;
$mp5: 20px;
$mp6: 30px;
$mp7: 40px;
$mp8: 50px;
