@import "../../../../assets/scss/helpers/variables";

.card {
	border: 2px solid $primary-darkblue;
	border-radius: 40px;
	padding: 15px;
	text-align: center;
	min-height: 480px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.text-padding {
	padding-top: 3px;
	padding-bottom: 10px;
}

img {
	max-height: 250px;
}

.checked {
	color: $primary-gold;
	height: 20px;
}
